<div class="container">
    <mat-card class="card-default">
      <mat-card-title>Cadastro de contatos</mat-card-title>
      <mat-card-actions>
        Ações:
        <button mat-button routerLink="/contatos">Voltar a lista</button>
      </mat-card-actions>
      <mat-card-content>
  
        <mat-form-field>
          <input matInput type="text" placeholder="Nome">
        </mat-form-field>
        
        <br>  
        
        <mat-form-field>
          <input matInput placeholder="Telefone">
        </mat-form-field>
        
        <br>

        <mat-form-field>
          <input matInput type="text" placeholder="E-mail">
        </mat-form-field>
        
        <button mat-raised-button color="primary">Salvar</button>

      </mat-card-content>
    </mat-card>
  </div>