mat-toolbar.mat-toolbar.mat-toolbar-single-row {
    background: #00bcb6;

    img.logo__image.logo__image--mobile {
      margin-right: 25px;
    }

    button.mat-button {
    background: transparent;
    color: #fff;
    margin: 5px;
    font-size: 15px;
    text-transform: uppercase;
  }
}