<mat-card class="card-default">
    <h1>Projeto Front</h1><br>
    <h3>Para listar os contatos utilize o menu acima.</h3><br>
    <b>Observação:</b> é possivel habilitar o login de um contato preenchendo os campos "Login" e "Senha" no formulário de cadastro.
    <br>
    <br>
    <hr>
    <br>
    <br>
    <h3>Utilizado</h3>
    <ul>
      <li>Angular 7</li>
      <li>Angular Material: <a href="https://material.angular.io/" target="_blank">https://material.angular.io/</a></li>
      <li>Rotas lazy loaded</li>
      <li>Sweetalert: <a href="https://sweetalert.js.org/guides/" target="_blank"> https://sweetalert.js.org/guides/</a></li>
      <li>Local Storage para manter os dados</li>
    </ul>
</mat-card>